tqdm
trimesh
loguru==0.5.3
matplotlib==3.3.2
pyglet==1.3.2
pyrender==0.1.43
PyYAML==5.3.1

ninja==1.10.2.3
numpy==1.22.4
omegaconf==2.2.2
pandas==1.4.3
Pillow==9.1.1
PyOpenGL==3.1.6


scenepic==1.0.8
smplx==0.1.28
tensorboard==2.9.1
tensorboardX==2.5.1
torch==1.11.0
torchgeometry==0.1.2
torchvision==0.12.0
pytorch3d==0.6.2


git+git://github.com/otaheri/chamfer_distance.git
git+git://github.com/otaheri/MANO.git
git+git://github.com/otaheri/bps_torch.git
git+git://github.com/MPI-IS/mesh.git